.containerMenu{
    height: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */

}

#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: black;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0; 
}
label span:nth-child(2){
    top: 8px; 
}
label span:nth-child(3){
    top: 16px; 
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}

        .intro {
        display: block;
        width: 100%;
        height: 100vh;
        text-align: center;
        color: white;
        }

        .colorLetter h3{
            color: white;
            text-shadow: 3px 3px 2px rgb(46, 134, 185);
        }

        .hero-content{
            text-transform: uppercase;
            font-size: 30px;
            text-shadow: 3px 3px 2px #333;
        }

        .colorBlack{
            color:black;
            background-color: #e3f2fd;
        }

        .colorDiv{
            background-color: #e3f2fd;
        }

        input[type="email"] {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        input[type="password"] {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-top: 0px;
        }

.hero{
    background-image: url(../img/paginaInicial.png);
    height: 500px;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
}

.custom-p {
    text-align: center;
    margin: 20px;
}

.rodape{
    background:#6d6c68; 
    height: 80px;
     color: white; 
    font-size: 14px;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
}